<div class="container">
  <div class="form-container">
    <p>edit-employee works!</p>
    <mat-card class="example-card">
      <form [formGroup]="employeeForm" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="First Name" formControlName="firstName">
          <mat-hint align="end">Please enter your first name</mat-hint>
          <mat-error *ngIf="employeeForm.get('firstName')?.invalid">
            <span *ngIf="employeeForm.get('firstName')?.errors?.['required']">שדה זה הוא שדה חובה</span>
            <span *ngIf="employeeForm.get('firstName')?.errors?.['minlength']">אורך מינימלי הוא 2 תווים</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
          <mat-hint align="end">Please enter your last name</mat-hint>
          <mat-error *ngIf="employeeForm.get('lastName')?.invalid">
            <span *ngIf="employeeForm.get('lastName')?.errors?.['required']">שדה זה הוא שדה חובה</span>
            <span *ngIf="employeeForm.get('lastName')?.errors?.['minlength']">אורך מינימלי הוא 2 תווים</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Identity" formControlName="identity">
          <mat-hint align="end">אנא הזן את מספר תעודת הזהות (9 ספרות)</mat-hint>
          <mat-error *ngIf="employeeForm.get('identity')?.invalid">
            <span *ngIf="employeeForm.get('identity')?.errors?.['required']">שדה זה הוא שדה חובה</span>
            <span *ngIf="employeeForm.get('identity')?.errors?.['pattern']">תבנית לא תקינה (9 ספרות בלבד)</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Date Start" formControlName="dateStart">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint align="end">Please select the start date</mat-hint>
          <mat-error *ngIf="employeeForm.get('dateStart')?.invalid">
            <span *ngIf="employeeForm.get('dateStart')?.errors?.['required']">שדה זה הוא שדה חובה</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="birthdayPicker" placeholder="Birthday" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
          <mat-hint align="end">Please select your birthday</mat-hint>
          <mat-error *ngIf="employeeForm.get('birthday')?.invalid">
            <span *ngIf="employeeForm.get('birthday')?.errors?.['required']">שדה זה הוא שדה חובה</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="0">Male</mat-option>
            <mat-option [value]="1">Female</mat-option>
          </mat-select>
          <mat-hint align="end">Please select your gender</mat-hint>
          <mat-error *ngIf="employeeForm.get('gender')?.invalid">
            <span>שדה זה הוא שדה חובה</span>
          </mat-error>
        </mat-form-field>
        <div class="button-container">
        <button  id="save" mat-raised-button color="turquoise" type="submit" (click)="update()" [disabled]="!employeeForm.valid">Save</button>
      </div>
      </form>
    </mat-card>
  </div>
  <div class="table-container">
    <div class="a">
      <app-role-table [employeeId]="this.route.snapshot.params['id']"></app-role-table>
    </div>
  </div>
</div>