.example-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  